do_token             = "your_digitalocean_api_token_here"
tg_api_token         = "your_twingate_api_token_here"
tg_network           = "tenant_name"

# Define multiple clusters across different regions
# Comment a cluster out to remove it
clusters = {
  "tor-vpn-cluster" = {
    region     = "tor1"
    node_size  = "s-1vcpu-2gb"
    node_count = 1
  }
  "nyc-vpn-cluster" = {
    region     = "nyc1"
    node_size  = "s-1vcpu-2gb"
    node_count = 1
  }
  "ams-vpn-cluster" = {
    region     = "ams3"
    node_size  = "s-2vcpu-4gb"
    node_count = 2
  }
  "fra-vpn-cluster" = {
    region     = "fra1"
    node_size  = "s-1vcpu-2gb"
    node_count = 1
  }
}